* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

.navbar-container {
  display: flex;
  height: 100%;
}

.navbar {
  list-style: none;
  background-color: #474ca9;
  color: white;
  width: 20%;
}

.navbar-element {
  height: 40px;
  margin: 0px 20px 20px 20px;
  border-bottom: 2px solid #5157af;

  a {
    text-decoration: none;
    color: white;
  }
}

.navbar-element__header {
  margin-left: 10px;
  height: 130px;
  display: flex;
  align-items: center;
}
